{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "stage-3"
  ],
  "env": {
    "prod": {
      "plugins": [
        "transform-runtime"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "degrade": {
      "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
